@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*---- Global ----*/

h1{
   font-size: 6.5vw; /* vw = viewpoint width   */
}
h3{
   font-size: 1.3rem;
   font-weight: 700;
}
h4{
   font-size: 1.1rem;
   font-weight: 700;
   word-spacing: 0.4vw;
}
h6{
   font-size: 0.9rem;
   font-weight: 700;
   color: #6CEA7F;
}
p{
   font-size: 1rem;
   line-height: 1.5rem;
}
button{
   background: #6cAA7F;
   border-style: none;
   padding: 0.7rem 1.3rem;
   font-size: 0.9rem;
   font-weight: 700;
   letter-spacing: 1px;
   color: #fff;
}
hr{
   background: #27ae60;
   color: #27ae60;
   height: 0.07rem;
}

/*---- Body ----*/
body{
   font-family: 'Poppins', sans-serif;
}
header .intro{
position: relative;
}
header .intro .head{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
header .intro .head h1{
   @import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
   font-family: 'Leckerli One', cursive;
}
header .intro .head h2{
   font-size: 40px;
   color: #27ae60;
   letter-spacing: 0.7rem;
}
nav ul li a::after{
   content:'';
   width: 0%;
   height: 3px;
   background: #6CEA7F;
   transition: 0.5s;
   display: block;
}
nav ul li a:hover::after{
   width: 100%;
}
nav ul li {
   font-size: 1.5rem;
   color: #7aca8d;
   cursor: pointer;
}
nav ul li a{
   font-size: 1.2rem;
   
}


/*--- Featured ----*/

.featured .row .one{
   height: 300px;
}
.featured .row .one img{
   width: 100%;
   height:100%;
   background-size: cover;
   box-sizing: border-box;
   object-fit: cover;
}
.featured .row .one .text{
   background: rgba(0,0,0,0.5);
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
}
.featured .row .one .text p{
   letter-spacing: 0.2rem;
   line-height: 2px;
}
.featured .row .one .text a{
   text-decoration: none;
   border-style: none;
   color: #fff;
   font-size: 0.9rem;
}
.featured .row .one .text a::after{
   content: '';
   width: 33%;
   height: 3px;
   background: #27ae60;
   display: block;
}

.subscription{
   background: #defadb;
}

.subscription .row .sub input{
   outline: none;
   border: 1px solid #6cAA7F;
}
.blog .side3 .one{
   position: relative;
}
.blog .side3 .one .text{
   background: rgba(0,0,0,0.5);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   padding: 7rem 1.1rem 0 1.1rem;
}

